name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . -t luffedeluxe/bookmycamp:latest -f AdminBlazor/Dockerfile
    - name: Push Image to DockerHub
      run: |
       docker login -u luffedeluxe -p ${{ secrets.DOCKER_HUB_TOKEN }}
       docker push luffedeluxe/bookmycamp:latest
